header {
    display            : flex;
    width              : 100%;
    justify-content    : space-between;
    height             : auto;
    flex-direction     : column;

    .header__div {
        height         : auto;
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        padding        : 30px 20px 80px 20px;
        width          : 100%;
        position: relative;

        &--header-left {
            img {
                height: auto;
            }
        }

        &--header-right {
            .bx {
                font-size: 30px;
            }
            .list-menu-disable {
                display: none;
            }
            .list-menu {
                position: absolute;
                top: 10vh;
                left: 3vw;
                background-color: #fff;
                width: 95vw;
                height: 65vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                // justify-content: space-around;
                padding: 30px;
                border-radius: 10px;
                box-shadow: 0px 0px 20px 0px $Very_Dark_Blue ;
                
                li {
                    display: flex;
                    width: 100%;
                    height: calc(100% / 5) ;
                    align-items: center;
                    &:nth-child(odd) {
                        border-block: $Very_Dark_Blue 1px solid;
                        // background-color: $Bright_Red;
                    }
                    a {
                        color: $Very_Dark_Blue;
                        text-decoration: none;
                        font-size: $Font_size;
                        font-weight: $Font_weight3;
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .btn {
                display: none;
            }
        }
    }



}