@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');
//  Primary

$Bright_Red: hsl(12, 88%, 59%);
$Dark_Blue : hsl(228, 39%, 23%);

//  Neutral

$Dark_Grayish_Blue: hsl(227, 12%, 61%);
$Very_Dark_Blue   : hsl(233, 12%, 13%);
$Very_Pale_Red    : hsl(13, 100%, 96%);
$Vary_Light_Gray  : hsl(0, 0%, 98%);

//  Typography

//  Body Copy
// Font
$Font_family: 'Be Vietnam';
$Font_size : 1.6rem;
$Font_weight1: 400;
$Font_weight2: 500;
$Font_weight3: 700;
// - Family    : [Be Vietnam](https: //fonts.google.com/specimen/Be+Vietnam)